<div class="container">	

			<div class="codrops-top clearfix">
				<a href="http://tympanus.net/Development/CircleFlipSlideshow/"><strong>&laquo; Previous Demo: </strong>Flipping Circle Slideshow</a>
				<span class="right"><a href="http://tympanus.net/codrops/?p=13831"><strong>Back to the Codrops Article</strong></a></span>
			</div>
			<header class="clearfix">
				<h1>Interactive SVG Infographic<span>Animation &amp; interaction using CSS and JavaScript</span></h1>	

			</header>
			<div class="main">

				<div id="stage">
					<div class="row">
						<div class="twelve columns centered">
  						  


<dl class="tabs">
  <dd class="active"><a href="#simple1">Ejercicio 1</a></dd>
  <dd><a href="#simple2">Simple Tab 2</a></dd>
  <dd class="hide-for-small"><a href="#simple3">Simple Tab 3</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="simple1Tab">
  		<div class = "rojo">
  		</div>
  </li>
  <li id="simple2Tab">This is simple tab 2s content. Now you see it!</li>
  <li id="simple3Tab">This is simple tab 3s content.</li>
</ul>


  						</div>

  					</div>
				</div>

				<p><small>* Any statistics or information displayed herein is for display purposes only and is not intended to be factual</small></p>

			</div>
		</div>